.about-container {
    margin: 2rem auto;
    padding: 1.5rem;
    max-width: 800px;
    background-color: var(--about-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--about-box-shadow);
    text-align: center;
}

.about-container h2, .about-container h3 {
    margin-bottom: 1rem;
    color: var(--about-heading-color);
    font-weight: bold;
}

.about-container p {
    margin-bottom: 2rem;
    color: var(--about-paragraph-color);
    line-height: 1.6;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
    border-left: 2px solid var(--about-timeline-border-color);
}

.timeline li {
    position: relative;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.timeline li::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 0.5rem;
    width: 10px;
    height: 10px;
    background-color: var(--about-timeline-marker-color);
    border-radius: 50%;
    transition: transform 0.2s, background-color 0.2s;
}

.timeline li:hover::before {
    background-color: var(--about-timeline-marker-hover-color);
    transform: scale(1.2);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.skills mat-icon {
    margin-right: 0.5rem;
    color: var(--about-skills-icon-color);
    font-size: 1.5rem;
    transition: transform 0.2s, color 0.2s;
}

.skills mat-icon:hover, .skills mat-icon:focus {
    color: var((--about-skills-icon-hover-color));
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .about-container {
        margin: 1rem;
        padding: 1rem;
    }

    .timeline {
        margin: 0 0 1.5rem 0;
        border-left: none;
    }

    .timeline li {
        padding-left: 0;
        text-align: center;
    }

    .timeline li::before {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }

    .skills mat-icon {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 480px) {
    .about-container {
        margin: 1rem;
        padding: 0.5rem;
    }

    .about-container h2, .about-container h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .skills mat-icon {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .about-container {
        max-width: 1000px;
    }
}
