<div class="about-container">
    <h2>Sobre Mim</h2>
    <p>
        Formado em Análise e Desenvolvimento de Sistemas no Centro Universitário Estácio de Brasília,
        tenho experiência em Angular, PHP, Node.js, Java, Spring Boot e Python, além de sólida base
        em metodologias ágeis como Scrum. Meu objetivo é consolidar minha carreira como Desenvolvedor
        Fullstack e contribuir para o desenvolvimento de soluções inovadoras que gerem impacto positivo
        e façam a diferença.
    </p>

    <h3>Formação</h3>
    <ul class="timeline">
        <li><strong>2022 - Atual:</strong> Estudante de Análise e Desenvolvimento de Sistemas, Centro Universitário Estácio de Brasília</li>
        <li><strong>2021 - 2021:</strong> Tecnólogo em Análise e Desenvolvimento de Sistemas, Fatec Jales</li>
        <li><strong>2019 - 2020:</strong> Técnico em Informática para Internet, Etec Santa Fé do Sul</li>
    </ul>
    <h3>Habilidades</h3>
    <div class="skills">

        <img src="assets/img/icon/angular.png" alt="Angular"> Angular
        <img src="assets/img/icon/react.png" alt="React"> React
        <img src="assets/img/icon/java.png" alt="Java"> Java
        <img src="assets/img/icon/springboot.png" alt="Spring Boot"> Spring Boot
        <img src="assets/img/icon/php.png" alt="PHP"> PHP
        <img src="assets/img/icon/node-js.svg" alt="Node.js"> Node.js
        <img src="assets/img/icon/python.png" alt="Python"> Python
        <img src="assets/img/icon/html5.png" alt="HTML5"> HTML
        <img src="assets/img/icon/css3.png" alt="CSS3"> CSS
        <img src="assets/img/icon/javascript.png" alt="JavaScript"> JavaScript
        <img src="assets/img/icon/typescript.png" alt="TypeScript"> TypeScript
    </div>
</div>