<div class="projects-container">
    <h2 id="title-project">Meus Projetos</h2>
    <mat-form-field appearance="fill">
        <mat-label>Filtrar por Tecnologia</mat-label>
        <mat-select [(value)]="selectedTech">
            <mat-option *ngFor="let tech of technologies" [value]="tech">
                {{ tech }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="project-list">
        <div class="project-card" *ngFor="let project of filteredProjects" 
        [hidden]="selectedTech && !project.technologies.includes(selectedTech)">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        <small>Tecnologias: {{ project.technologies.join(', ')}}</small>
        <div class="links">
            <a [href]="project.github" target="_blank">Github</a>
            <a [href]="project.live" target="_blank">Visualizar</a>
        </div>
        </div>
    </div>
</div>
