<div class="app-container">
    <nav id="nav">
        <div class="logo">Gilvan Alves</div>
        <div class="hamburguer" (click)="toggleMenu()">&#9776;</div>
        <ul class="nav-links" [class.active]="isMenuOpen">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li> <a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>  
        <div class="theme-toggle">
            <button (click)="toggleTheme()" aria-label="Alternar tema">
                <mat-icon>{{ currentTheme === 'light' ? 'dark_mode' : 'light_mode'}}</mat-icon>
                {{ currentTheme === 'light' ? 'Escuro' : 'Claro'}}
            </button>
        </div>
    </nav>
    
    <router-outlet />
    
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <h3>Meu Portfólio</h3>
                <p>Desenvolvido por Gilvan Alves</p>
            </div>
            <div class="footer-links">
                <h4>Links Rápidos</h4>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/projects">Projects</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-socials">
                <h4>Redes Sociais</h4>
                <div class="social-icons">

                    <a href="https://github.com/Gilvan-R-A" target="_blank" aria-label="GitHub">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/gilvanribeiroalves/" target="_blank" aria-label="Linkedin">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="mailto:gilvan.alves724@gmail.com" aria-label="Email">
                        <i class="fa-solid fa-envelope"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Gilvan Alves. Todos os direitos reservados.</p>
        </div>
    </footer>
    
</div>

