<div class="home-container">
    <div class="intro">
        <div class="text-section">
            <h1>Bem-vindo ao Meu Portfólio!</h1>
            <p>Sou Desenvolvedor Fullstack e este é um espaço para compartilhar meus projetos e ideias.</p>          
        </div>      
        <div class="profile-section">
            <img src="assets/img/perfil.jpg" alt="Minha foto" class="profile-img">         
             <a href="assets/CV - Gilvan Ribeiro Alves - Desenvolvedor Fullstack.pdf" download="">Baixar Currículo</a> 
        </div>
   
    </div>
</div>
