.home-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.intro{
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.2rem;
    }
    button{
        margin-top: 1rem;
    }
}

.profile-img{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}